<a href="https://colab.research.google.com/github/SherlynVironica/Tugas/blob/main/Tugas_PSDS_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Function**

Function (fungsi) adalah sebuah blok statement yang hanya akan dijalankan saat ia panggil

Fungsi len() untuk mengukur jumlah elemen dalam sebuah list dan fungsi print() untuk menampilkan pesan pada layar konsol merupakan contoh dari bentuk fungsi yang telah disediakan oleh bahasa pemrograman Python dengan kata lain built-in functions. Selain fungsi yang telah disediakan Python, Python mengizinkan untuk mendeklarasikan fungsi dalam kode yang dituliskan yang dikenal dengan user defined function.

In [ ]:
def nama_fungsi(argument):
  statement_1

  statement_n
  return returned_value

*   nama_fungsi adalah untuk fungsi yang anda definisikan, memiliki aturan seperti penamaan variabel
*   argument adalah variabel masukan ke fungsi, biasa tanpa variabel, satu variabel atau lebih
*   statement_1.. statement_n adalah algoritma yang telah anda transfer dalam bahasa python yang merupakan inti dari fungsi yang anda definisikan. Seluruh statement adalah menjorok (indent) ke dalam seperti yang pernah anda peljari pada conditioning dan looping
*   return_value adalah variabel output dari fungsi anda, bisa tanpa variabel, satu variabel atau lebih

# Argumen dan Parameter

*   Parameter adalah varabel yang digunakan dalam deklarasi fungsi
*   Argumen adalah nilai yang diberikan saat pemanggilan fungsi

In [ ]:
def print_nama(nama): #'nama' adalah parameter
  print(nama)

print_nama('Sher') #'Sher' adalah argumen

Sher

# Argumen posisi dan kata kunci

Kita bisa menyatakan argumen posisi atau kata kunci. Beberapa manfaat argumen kata kunci dapat berupa:
*   Kita dapat menyebut argumen dengan mereka untuk menjelaskan apa yang merekan wakili
*   Kita dapat mengatur ulang argumen dengan cara membuatnya paling mudah dibaca

In [ ]:
def angka(a, b, c):
    print(a, b, c)

#argumen posisi
#argumen berdasarkan posisinya
angka(1, 2, 3)

#argumen berdasarkan kata kuncinya
angka(a=1, b=2, c=3)
angka(c=3, b=2, a=1)

#catatan: jika sudah diberi kunci maka urutan tidak penting

#campuran antara argumen posisi dan kata kunci
angka(1, b=2, c=3)

#ini tidak diijinkan:
#foo(1, b=2, 3) #argumen posisiona setelah argumen kunci
#foo(1, b=2, a=3) #terdapat dua nilai untuk argumen kunci 'a'

1 2 3
1 2 3
1 2 3
1 2 3

# Argumen Default

Fungsi dapat memiliki argumen default dengan nilai yang telah ditentukan sebelumnya. Argumen ini dapat ditinggalkan dan nilai default kemudian diteruskan ke fungsi, atau argumen dapat dirubah dengan nilai yang berbeda. Perhatikan bahwa argumen default harus ditentukan sebagai **parameter terakhir** dalam suatu fungsi.

In [ ]:
#argumen default
def angka2(a, b, c, d=4):
    print(a, b, c, d)

angka2(1, 2, 3, 4)
angka2(1, b=2, c=3, d=100)

#Argumen default harus diletakkan terakhir

1 2 3 4
1 2 3 100

# Praktik membuat fungsi

In [ ]:
x = 1
y = 2
x*y

2

In [ ]:
def penjumlahan(x,y): #input
  a= x+y              #proses
  return a            #output

penjumlahan(1, 2)     #menggunakan fungsi

3

Penjumlahan yang memungkinkan untuk tiga bilangan

In [ ]:
def penjumlahan(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(penjumlahan(1, 2))
print(penjumlahan(1, 2, 3))

3
6

Menyimpan hasil fungsi dalam variabel

In [ ]:
def penjumlahan(x,y):
    return x+y

a = penjumlahan
a(1, 2)

3

Latihan 1

Buatlah Function phytagoras dengan input argumennya panjang tinggi dan alas segitiga untuk menghasilkan output nilai panjang sisi miring

In [ ]:
def pythagoras(tinggi, alas):
  sisi_miring = ((tinggi*tinggi) + (alas*alas))**(1/2)
  return sisi_miring

In [ ]:
pythagoras(3, 4)

5.0

Latihan 2

Buatlah function luas permukaan balok dengan input argumennya panjang, lebar, dan tinggi dari balok untuk menghasilkan output nilai luas permukaan balok tersebut.

In [ ]:
panjang = 8
lebar = 6
tinggi = 5

In [ ]:
def luas_permukaan_balok(panjang, lebar, tinggi):
    luas_permukaan = 2 * (panjang * lebar + panjang * tinggi + lebar * tinggi)
    return luas_permukaan

In [ ]:
luas_permukaan_balok(8, 6, 5)

236

# **Lambda**

Fungsi Lambda adalah fungsi anonim one line yang didefinisikan tanpa nama. Fungsi lambda dapat mengambil sejumlah argument, tetapi hanya dapat memiliki satu expression. Sementara fungsi normal didefinisikan menggunakan kata kunci def, dalam Python fungsi anonim didefinisikan menggunakan kata kunci lambda.

Fungsi Lambda digunakan ketika fungsi sederhana hanya digunakan sekali atau untuk waktu yang singkat dalam kode kita. Penggunaannya yang paling umum adalah sebagai argumen untuk fungsi tingkat tinggi (fungsi yang menggunakan fungsi lain sebagai argument).

Lambda expression di python adalah sebuah ekspressi untuk membuat fungsi.

Lamba sendiri berasal dari teori kalkulus, yakni lambda calculus yang dikenalkan oleh Alonzo Church di tahun 1930.

Berkat Lambda, kita bisa membuat fungsi tanpa nama atau di kenal juga dengan anonymous function.

![WhatsApp Image 2023-07-09 at 21.25.41.jpg]()

Lambda bisa memiliki lebih dari satu argumen atau parameter, tapi hanya bisa memiliki satu ekspresi atau isi.

In [ ]:
greeting = lambda name: print(f"hello, {name}")

Karena fungsi lambda tidak punya nama, jadi kita butuh variabel untuk menyimpannya.

Nanti saat mau kita panggil, kita tinggali tuliskan saja nama variabelnya seperti ini:

In [ ]:
greeting("Sher")
greeting("lyn")

hello, Sher
hello, lyn

Beberapa contoh penggunaan fungsi lambda

In [ ]:
#Fungsi Lambda untuk menambahkan angka 10 kepada argument input
f = lambda x: x+10
val1 = f(5)
val2 = f(100)
print(val1,val2)

15 110

In [ ]:
#Fungsi Lambda untuk mengalihkan dua argumen input dan menampilakn hasilnya
f = lambda x,y:x*y
val3 = f(2,10)
val4 = f(7,5)
print(val3,val4)

20 35

# Anonymous Function

Karena lambda adalah anonymous function, ia akan bebas menggunakan nama apa saja. Dengan kata lain, fungsi lambda bisa disimpan di variabel mana pun. Ini tentunya tidak bisa dilakukan oleh fungsi yang dibuat dengan def. Coba perhatikan ini:

In [ ]:
def say_hello(nama):
  print(f"hello{nama}, apa kabar?")

ucapin = saya_hello(nama)

NameError: ignored

Saya mencoba membuat fungsi say_hello() dengan def, kemudian menyimpannya ke dalam variabel ucapin. Tapi malah eror.

Ini karena fungsi tersebut bukanlah fungsi anonymous yang boleh diubah-ubah namanya.

Lalu coba perhatikan di baris terakhir, fungsi lambda greeting() yang sudah disimpan lagi ke variabel yang berbeda, yakni sapa.

In [ ]:
greeting = lambda name: print(f"hello, {name}")
sapa = greeting
greeting("Sher")
sapa("Lyn")

hello, Sher
hello, Lyn

Hasilnya tidak eror, karena ini adalah fungsi anonymous atau lambda

# Eksekusi Lambda secara langsung

Eksekusi lambda secara langsung kelebihan fungsi dibandingkan def adalah bisa kita eksekusi langsung.

Contohnya:

In [ ]:
(lambda x,y: x**2 + y**2)(4,6)

52

Tanda kurung ysng mengapit fungsi lambda artinya akan langsung mengeksekusi fungsi tersebut.

Lalu kurung berikutnya akan berisi parameter

Angka 4 dan 6 adalah parameter x dan y yang akan diberikan kepada fungsi lambda.

Maka kita akan langsung mendapatkan hasilnya, yakni 42 + 62 = 52

Hasil dari eksekusi ini bisa juga kita simpan ke dalam variabel

In [ ]:
hasil = (lambda x,y: x**2 + y**2)(4,6)

Mengapa harus pakai lambda?

Kita memang tidak harus selalu menggunakan Lambda, tapi dalam kasus tertentu lambda lebih baik dibandingkan fungs biasa.

Lambda biasanya dibutuhkan saat ingin membuat fungsi dalam satu baris.

Biasanya saat menggunakan fungsi-fungsi seperti filter(), map(), dan reduce() kita akan membuatuhkan lambda.

Mengapa?

Karena di fungsi-fungsi tersebut membutuhkan parameter fungsi.

Contoh:

In [ ]:
bilangan = [10,2,8,7,5,4,3,11,0,1]
filtered_result = map (lambda x: x*x, bilangan)
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

Pada fungsi map() kita memberikan parameter dengan fungsi lambda.

Mengapa bisa begitu?

Karena Lambda bisa disimpan ke dalam variabel, otomatis dia akan bisa juga jadi parameter.

Satu lagi contoh dengan fungsi filter()

In [ ]:
#Menentukan bilangan genap
genap = lambda x: x%2 == 0
list(filter(genap, range(11)))

[0, 2, 4, 6, 8, 10]

Tugas PSDS 11

Buatlah fungsi lambda untuk menghitung luas dari persegi panjang

In [ ]:
luas_pp = (lambda panjang,lebar: panjang*lebar)(18,8)
luas_pp

144

Buatlah fungsi lambda untuk menghitung luas dari segitiga

In [ ]:
luas_segitiga = (lambda alas,tinggi: 0.5*alas*tinggi)(18,8)
luas_segitiga

72.0