**STRUKTUR DATA LIST**

LIST

List adalah jenis kumpulan data terurut (ordered sequence), bisa diubah elemennya (mutable), bisa di tambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering di gunakan dalam python. Serupa, namun tak sama dengan array pada bahasa pemprograman lainnya. Bedanya, elemen list pada python tidak harus memiliki tipe data yang sama. Mendeklarasikan list cukup mudah dengan kurung siku dan elemen yang di pisahkan dengan koma.

setiap data di dalamnya dapat di akses dengan indeks yang mulai dari 0

In [3]:
#contoh list
L1=[1,4,2,13]

print(type(L1))

<class 'list'>

In [5]:
L2= ["a", "python", 3]
print(type(L2))

<class 'list'>

In [6]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'python', 3]

Indeks di python(List, Tuple) mulai dari 0

In [7]:
#sifat-sifat List

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

Memanggil List L1 dengan indeks urutan: [1, 4, 2]

In [ ]:
#Bisa diganti/mutable
L1[1] = 2
print("list L1 setelah di ganti elemennya:", L1)

list L1 setelah di ganti elemennya: [1, 2, 2, 1]

In [ ]:
L1 = [1, "dua", True, 2+3j]

In [ ]:
#Dapat diindeks/slicing
print("slicing list L1:", L1[3])

slicing list L1: (2+3j)

In [ ]:
#Dapat diijinkan duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada list L1:", L1)

Duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]

In [ ]:
#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2] = 3
print("Data setelah diubah:", L1)

Data setelah diubah: [1, 'dua', 3, (2+3j)]

In [ ]:
#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]

In [ ]:
#Dapat menghapus elemen pada data (remove()= menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Data setelah dihapus elemennya: [1, 'dua', True]

In [8]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)
L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [9]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [10]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [11]:
#menghapus elemen dari list menggunakan fungsi pop()(menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [12]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

**STRUKTUR DATA TUPLE**

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi  lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [15]:
#contoh tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [16]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [17]:
#menampilkan tipe struktur data
type(T1)

tuple

In [18]:
type(T11)

tuple

Sifat-sifat Tuple

In [19]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [20]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [21]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [22]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [23]:
#tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [25]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [26]:
#tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [27]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

In [28]:
#Menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)