**OPERATOR**

Operator simbol simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal. Tipe tipe operator:

1. Operator Aritmatika
2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

Contoh penggunaan operator Aritmatika

In [6]:
#Penjumlahan
print('Penjumlahan')
print(2+2)

#Pengurangan
print('Pengurangan')
print('-'*20)
print(2-3)

#Perkalian
print('Perkalian')
print('-'*20)
print(2*3)

#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)

#Modulus
print('Modulus')
print('-'*20)
print(3%2)

#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)

#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//2)

Penjumlahan
4
Pengurangan
--------------------
-1
Perkalian
--------------------
6
Pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
Perpangkatan
--------------------
8
Pembagian pembulatan flooring
--------------------
1

Contoh penggunaan operator Assignment

In [8]:
#Penjumlahan
print('Penjumlahan')
x=5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Flooring
1
1
--------------------
Perpangkatan
3125
125
--------------------

Contoh penggunaan operator pembanding

In [9]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

Contoh penggunaan operator logika

In [10]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

Contoh penggunaan operator keanggotaan

In [12]:
a=(1,2,3,4,5,6)
b=2
print(b in a)
print("-"*20)

a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

**Variabel**

Variabel: Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat syarat penamaan variabel

1. Karakter - karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka 3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [13]:
# membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

**TIPE DATA & KONVERSI TIPE DATA**

Tipe Data

5 tipe data yaitu

1. Integr atau bilangan bulat
2. Float atau bilangan desimal
3. string atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [14]:
# menampilkan tipe data
print(type(kalimat))
print(type (bilangan1))
print(type(bilangan2))
print(type (bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [15]:
# menampilkan tipe data
print(type(kalimat))
print(type (bilangan1))
print(type(bilangan2))
print(type (bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [17]:
# Konversi Tipe Data

# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

#konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

# konversi tipe data bool
print(bool (bilangan1))
print(bool (bilangan2))

# konversi tipe data complex
print(complex(bilangan1))
print(complex (bilangan2))
print(complex (bilangan3))

2
1
4.0
1.0
4
2.5
True
True
True
(4+0j)
(2.5+0j)
(1+0j)